/* Layout Principal */
.login-page {
    position: relative;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background-image: url('../../../../assets/login1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.system-logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: #121729; 
    z-index: 10;
}

/* Nuevo contenedor centrado (reemplaza a login-left/right) */
.login-container {
    width: 100%;
    max-width: 500px;
    z-index: 5;
    padding: 20px; /* Espacio de seguridad para móviles */
}

.login-form-container {
    width: 100%;
    padding: 3rem; 
    background-color: #121729; 
    backdrop-filter: blur(10px); 
    border-radius: 40px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: rgba(18, 23, 41, 0.85); 
}

.login-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #ffffff; 
}

.login-subtitle {
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.8); 
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 500;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group label {
    font-size: 0.9rem;
    font-weight: 700;
    color: #ffffff; 
}

.label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    font-size: 0.8rem;
    color: #63b3ed; 
    text-decoration: none;
    font-weight: 500;
}

.input-group input {
    padding: 0.8rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1); 
    color: #ffffff; 
    font-size: 0.9rem;
    outline: none;
}

.input-group input::placeholder {
    color: #b0b0b0;
}

.login-button {
    margin-top: 1rem;
    padding: 0.9rem;
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
    color: #121729;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s ease;
}

.login-button:hover {
    transform: translateY(-2px);
    background-color: #f0f0f0;
}